@charset "utf-8";

/*
動画講義を収録した後に、ウェブフォント「NotoSansCJKjp-Regular」の配信が終了しました。
このためエラーが発生することからこの箇所はコメントアウトとします。
@font-face{
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans CJK JP"),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansCJKjp-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansCJKjp-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansCJKjp-Regular.otf) format('opentype');
}
*/

html{
  font-size: 62.5%; /* 16px x 62.5% = 10px */
}
body{
  font-family: 'Open Sans', 'Noto Sans JP', sans-serif ;
  columns: #000000;
  font-size: 1.6rem;
  font-feature-settings: "palt";
  letter-spacing: 0.05em;
  /* Macブラウザで文字が少し太くなるのを回避する処理*/
  -webkit-font-smoothing: antialiased; /* for Mac Chrome */
  -moz-osx-font-smoothing: grayscale;  /* for Mac Firefox */
}
img{
  max-width: 100%;
  height: auto;
}
.inner{
  width: 1140px;
  margin: auto;
}
.text-center{
  text-align: center;
}
.br-pc{
  display: block;
}
.br-sp{
  display: none;
}

/*-------------------------
*
* headerエリア
*
-------------------------*/
.header{
  padding: 112px 0 120px;
  background-image: url(../images/header/bg-pc.png);
  background-size: cover;
}

.header-info{
  float: right;
  width: 554px;
  padding-right: 98px;
  padding-top: 136px;
}
.header-eyecatch{
  float: left;
  width: 292px;
  padding: 0 98px;
}

.header__title{
  margin-bottom: 48px;
  color: #fff;
  font-size: 7rem;
  font-weight: 300;
  text-transform: uppercase;
}
.header__leading{
  margin-bottom: 40px;
  font-size: 2.6rem;
  color: #fff;
  line-height: 1.6;
}
.app-item{
  float: left;
  width: 114px;
  margin-right: 24px;
}
.app-item:first-of-type{
  width: 138px;
}
.app-item:last-of-type{
  margin-right: 0;
}
/*-------------------------
*
* about
*
-------------------------*/
.about{
  overflow: hidden;
  padding-top: 112px;
}
.about>.inner{
  position: relative;
  padding-bottom: 288px;
}
.about .section-title{
  margin-bottom: 88px;
}
.section-box__about{
  float: left;
  width: 360px;
  margin-right: 30px;
}
.about-list{
  margin-bottom: 56px;
  padding-top: 24px;
}
.about-item{
  margin-bottom: 16px;
  font-size: 2.2rem;
}
.about-screen{
  position: absolute;
  top: 0;
  right: -280px;
}

/*-------------------------
*
* feature-item
*
-------------------------*/
.feature{
  background: url("../images/section/bg-feature-pc.png") no-repeat center -110px;
  background-size: 610px auto;
}
.overlay{
  padding: 140px 0 160px;
  background-color: rgba(0, 0, 0, 0.5);
}
.feature-list{
  display: flex;
  justify-content: space-between;
  padding: 0 98px;
  color: #fff;
}
.feature-item{
  width: 262px;
}
.feature-item__icon{
  margin-bottom: 30px;
  font-size: 5rem;
}
.feature-item__title{
  margin-bottom: 16px;
  font-size: 2rem;
}
.feature-item__text{
  line-height: 1.6;
}
/*-------------------------
*
* weather nowエリア
*
-------------------------*/
.setting{
  padding: 112px 0 96px;
}
.section-screen{
  margin-bottom: 96px;
}
.section-box{
  display: flex;
}
.reverse{
  flex-direction: row-reverse;
}
.section-box__item.text{
  width: 458px;
  margin-top: 160px;
}
.text{
  padding-left: 98px;
}
.reverse .text{
  padding-left: 0;
  padding-right: 98px;
}
.section-box__item.eyecatch{
  width: 390px;
  padding: 0 98px;
}
.section-title{
  margin-bottom: 40px;
  font-family: "Open Sans Condensed";
  font-size: 6rem;
}
.section-title__subsection{
  margin-bottom: 32px;
  font-size: 4.2rem;
}
.section-paragraph{
  margin-bottom: 32px;
  line-height: 1.6;
}
.section-paragraph:last-of-type{
  margin-bottom: 64px;
}
.setting-list{
  display: flex;
  justify-content: space-between;
}
.setting-text{
  display: block;
  margin-bottom: 16px;
  font-style: 1.4rem;
}
.setting-icon{
  display: block;
  width: 66px;
  margin: auto;
}

/*-------------------------
*
* footerエリア
*
-------------------------*/
.footer{
  padding: 128px 0 104px;
  border-bottom: solid 80px #7f7f7f;
  background-image: url(../images/footer/bg-gra-top.png),url(../images/footer/bg-gra-bottom.png);
  background-repeat: repeat-x;
  background-position: center top,center bottom;
  background-size: auto 48px;
}
.footer-lead{
  margin-bottom: 32px;
  font-size: 3.2rem;
}
.footer-text{
  margin-bottom: 16px;
  font-family: "Open Sans Condensed";
  font-weight: 300;
  font-size: 5.6rem;
}
.footer-icon{
  width: 100px;
  margin: 0 auto 32px;
}
.footer-text__download{
  display: block;
  margin-bottom: 32px;
  padding-top: 24px;
  font-size: 4rem;
}
.footer .app-list{
  width: 290px;
  margin: auto;
}

@media screen and (max-width:640px){
  body{
    font-size: 1.5rem;
  }
  .inner{
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
  }
  .br-pc{
    display: none;
  }
  .br-sp{
    display: block;
  }
  /*-------------------------
  *
  * headerエリア
  *
  -------------------------*/
  .header{
    padding: 72px 0 64px;
    background-position: center bottom;
    text-align: center;
  }
  .header-info{
    float: none;
    width: 100%;
    padding: 0;
  }
  .header-eyecatch{
    float: none;
    width: 65.67%;
    margin: auto;
    padding: 0;
  }
  .header__title{
    font-size: 6rem;
  }
  .header__leading{
    font-size: 1.6rem;
  }
  .app-list{
    width: 250px;
    margin: 0 auto 36px;
  }
  .app-item{
    width: 104px;
  }
  .app-item:first-of-type{
    width: 122px;
  }
  /*-------------------------
  *
  * what's tempwave エリア
  *
  -------------------------*/
  .about{
    padding-top: 72px;
  }
  .about>.inner{
    padding-bottom: 72px;
  }
  .section-title, .about .section-title{
    margin-bottom: 40px;
    font-size: 5rem;
  }
  .section-box__about{
    float: none;
    width: 100%;
    margin-right: 0;
  }
  .about-list{
    margin-bottom: 40px;
    padding-top: 0;
  }
  .about-screen{
    display: none;
  }
  /*-------------------------
  *
  * overlay エリア
  *
  -------------------------*/
  .overlay{
    padding: 72px 0 80px;
  }
  .feature-list{
    display: block;
    padding: 0 44px;
  }
  .feature-item{
    width: 100%;
    margin: 0 auto 56px;
  }
  .feature-item:last-of-type{
    margin-bottom: 0;
  }
  .feature-title{
    line-height: 1.5;
  }
  /*-------------------------
  *
  * weather now エリア
  *
  -------------------------*/
  .setting{
    padding-top: 72px;
    padding-bottom: 56px;
  }
  .section-paragraph, .section-paragraph:last-of-type{
    margin-bottom: 40px;
  }
  .section-screen{
    margin-bottom: 0;
  }
  .section-box{
    display: block;
  }
  .section-box__item.text{
    width: 100%;
    padding: 72px 0 0;
    margin-top: 0;
  }
  .section-box__item.eyecatch{
    width: 63.43%;
    margin: 0 auto;
    padding: 0;
  }
  .setting-list{
    margin-bottom: 40px;
  }
  .setting-item{
    width: 33.333%;
  }
  .setting-text{
    font-size: 1.2rem;
  }
  /*-------------------------
  *
  * フッター
  *
  -------------------------*/
  .footer{
    box-sizing: border-box;
    padding: 72px 20px 56px;
    border-width: 50px;
  }
  .footer-lead{
    margin-bottom: 24px;
    font-size: 1.8rem;
    line-height: 1.5;
  }
  .footer-icon{
    width: 72px;
  }
  .footer-text{
    margin-bottom: 24px;
    font-size: 3.2rem;
  }
  .footer-text__download{
    margin-bottom: 0;
    padding-top: 16px;
    font-size: 2.2rem;
  }
  .footer .app-list{
    width: 250px;
    margin: 0 auto;
  }
}
